@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
.c-white {
  color: #fff !important;
}

.c-dark {
  color: #444 !important;
}

.c-red {
  color: #E13E40 !important;
}

.c-ass {
  color: #ddd !important;
}

.bg-black {
  background: #111111 !important;
}

.bg-dark {
  background: #1B1B1B !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-13, .button,
button {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-34 {
  font-size: 34px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.fs-48 {
  font-size: 48px !important;
}

.fw-4 {
  font-weight: 400 !important;
}

.fw-5 {
  font-weight: 500 !important;
}

.fw-6 {
  font-weight: 600 !important;
}

.fw-7 {
  font-weight: 700 !important;
}

.fw-9, .button,
button {
  font-weight: 900 !important;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.flexing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-50 {
  width: 49% !important;
}

.flex-33 {
  width: 32% !important;
}

.flex-25 {
  width: 24.25% !important;
}

*::before {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

*::after {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.button,
button {
  border: none;
  outline: none;
  padding: 10px 30px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.a-button {
  display: inline-block;
  background: #E13E40;
  color: #fff;
  border-radius: 4px;
}

.a-button:hover {
  background: #fff;
  color: #E13E40 !important;
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  position: relative;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.py50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.my10 {
  margin: 10px 0;
}

.my15 {
  margin: 15px 0;
}

.my20 {
  margin: 20px 0;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

#header {
  background: #1B1B1B;
  padding: 20px 0;
  overflow-x: hidden;
}

#header .menu a {
  padding: 10px 13px;
}

#header .menu li:not(.not):before {
  top: 100%;
  left: 0%;
  width: 100%;
  height: 2px;
  background: #E13E40;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  inset: 100 0 0 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

#header .menu li.active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#header .menu li:hover::before {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.nav-togle.bx {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

#nav-in {
  display: none;
}

#mini-menu {
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: opacity 800ms, -webkit-transform 1s;
  transition: opacity 800ms, -webkit-transform 1s;
  transition: transform 1s, opacity 800ms;
  transition: transform 1s, opacity 800ms, -webkit-transform 1s;
  opacity: 0;
}

#mini-menu li a {
  padding: 10px 30px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

#mini-menu li:hover a {
  color: #E13E40 !important;
}

#mini-menu li:last-child {
  padding-left: 30px;
}

#mini-menu .head-of-menu {
  position: relative;
  width: 100%;
  background: #000000;
  height: 69px;
  margin-bottom: 20px;
}

#mini-menu .head-of-menu i {
  position: absolute;
  top: 50%;
  right: 40px;
  margin-top: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#mini-menu.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 992px) {
  #header .menu {
    display: none;
  }
  #nav-in {
    display: block;
  }
}

/* ! header design end */
/* hero section start */
#hero {
  background: #000000ce url(../img/hero-bg.jpg) center;
  background-blend-mode: multiply;
  background-size: cover;
  height: 90vh;
}

#hero .d-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .d-grid .hero-title {
  margin-bottom: 20px;
  line-height: 1.1em;
}

#hero .d-grid h4 {
  line-height: 1.3em;
  margin-bottom: 20px;
}

#hero .d-grid .hero-btn {
  color: #fff;
  background: #E35052;
  border: 2px solid transparent;
  padding: 15px 35px;
  border-radius: 5px;
}

#hero .d-grid .hero-btn:hover {
  border-color: #fff;
  background: transparent;
}

/* ! hero section end */
/* about section start */
#about {
  margin-top: 50px;
  -webkit-transform: skewY(-1.5deg);
          transform: skewY(-1.5deg);
}

#about .container {
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
}

#about .about-item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: about1;
}

#about .about-item-1 .button {
  padding: 13px 40px;
  border: 2px solid #E13E40;
  background: transparent;
  color: #fff;
  border-radius: 20px;
}

#about .about-item-1 .button:hover {
  background: #E13E40;
  border-color: transparent;
}

#about .about-item-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: about2;
}

#about .about-item-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-area: about3;
}

#about .d-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'about1 about1 about1 about1 about2 about2 about2 about3 about3 about3';
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

/* about section end */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
/*# sourceMappingURL=index.css.map */