// global classes store here

// font colors [c for color]
.c-white{
  color: $white !important;
}
.c-dark{
  color: $color-h !important;
}
.c-red{
  color: $red !important;
}
.c-ass{
  color: #ddd !important;
}
.bg-black{
  background: $black !important;
}
.bg-dark{
  background: $dark !important;
}
// classes for font sizes
    // fs for [f-:font, s-: size]
.fs-11{
  font-size: $fs-11 !important;
}
.fs-13{
  font-size: $fs-13 !important;
}
.fs-14{
  font-size: $fs-14 !important;
}
.fs-15{
  font-size: $fs-15 !important;
}
.fs-16{
  font-size: $fs-16 !important;
}
.fs-18{
  font-size: $fs-18 !important;
}
.fs-20{
  font-size: $fs-20 !important;
}
.fs-24{
  font-size: $fs-24 !important;
}
.fs-26{
  font-size: $fs-26 !important;
}
.fs-32{
  font-size: $fs-32 !important;
}
.fs-34{
  font-size: $fs-34 !important;
}
.fs-36{
  font-size: $fs-36 !important;
}
.fs-48{
  font-size: $fs-48 !important;
}


// font-weight class
    // fw for [f-: font; w-: weight]
.fw-4{
  font-weight: $fw-n !important;
}
.fw-5{
  font-weight: $fw-m !important;
}
.fw-6{
  font-weight: $fw-mb !important;
}
.fw-7{
  font-weight: $fw-b !important;
}
.fw-9{
  font-weight: $fw-xb !important;
}

// container
.container{
  width: 85%;
  margin: 0 auto;
}

// flexbox
.flexing{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.justify-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}
.flex-50{
  width: 49% !important;
}
.flex-33{
  width: 32% !important;
}
.flex-25{
  width: 24.25% !important;
}

// grid classes
@mixin grid($num-col, $size-col) {
  display: grid;
  grid-template-columns: repeat($num-col, $size-col);
}


// global before after

@mixin before($top-b, $left-b, $width-b, $height-b, $bg-b) {
  top: $top-b;
  left: $left-b;
  width: $width-b;
  height: $height-b;
  background: $bg-b;
  position: absolute;
}
*::before{
  transition: all 400ms;
}
@mixin after($top-a, $left-a, $width-a, $height-a, $bg-a) {
  top: $top-a;
  left: $left-a;
  width: $width-a;
  height: $height-a;
  background: $bg-a;
  position: absolute;
}

*::after{
  transition: all 400ms;
}

// global buttons
.button,
button{
  border: none;
  outline: none;
  padding: 10px 30px;
  transition: all 400ms;
  cursor: pointer;
  @extend .fs-13;
  @extend .fw-9;
}

// global ancore tag <a>
a{
  text-decoration: none;
  display: inline-block;
  transition: all 400ms;
}
.a-button{
  display: inline-block;
  background: $red;
  color: $white;
  border-radius: 4px;
}
.a-button:hover{
  background: $white;
  color: $red !important;
}

// order and unorder list
.list-none{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  position: relative;
}
body{
  width: 100%;
  overflow-x: hidden;
}

// section default padding
.py50{
  padding-top: 50px;
  padding-bottom: 50px;
}
.py70{
  padding-top: 70px;
  padding-bottom: 70px;
}
.my10{
  margin: 10px 0;
}
.my15{
  margin: 15px 0;
}
.my20{
  margin: 20px 0;
}
.mt10{
  margin-top: 10px;
}
.mt15{
  margin-top: 15px;
}
.mt20{
  margin-top: 20px;
}
.mb10{
  margin-bottom: 10px;
}
.mb15{
  margin-bottom: 15px;
}
.mb20{
  margin-bottom: 20px;
}
