

// header design start
#header{
  background: $dark;
  padding: 20px 0;
  overflow-x: hidden;
}

#header .menu a{
  padding: 10px 13px;
}
#header .menu li:not(.not)::before{
  @include before(100%, 0%, 100%, 2px, $red);
  transform: scaleX(0);
  inset: 100 0 0 0;
  transition: transform 400ms;
  transform-origin: top right;
}
#header .menu li.active::before{
  transform: scaleX(1);
}
#header .menu li:hover::before{
  transform: scaleX(1) !important;
  transform-origin: bottom left;
}
.nav-togle.bx{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
#nav-in{
  display: none;
}
#mini-menu{
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 1s, opacity 800ms;
  opacity: 0;
  li{
    
    a{
      padding: 10px 30px;
      transition: 400ms;
    }
  }
  li:hover a{
    color: $red !important;
  }
  li:last-child{
    padding-left: 30px;
  }
  .head-of-menu{
    position: relative;
    width: 100%;
    background: #000000;
    height: 69px;
    margin-bottom: 20px;
     i{
      position: absolute;
      top: 50%;
      right: 40px;
      margin-top: -15px;
      transform: translateY(-50%);
    }
  }
}
#mini-menu.show{
  transform: translateX(0%);
  opacity: 1;
}


// menu responsive
@media screen and (max-width: 992px) {
  #header .menu{
    display: none;
  }
  #nav-in{
    display: block;
  }
}

/* ! header design end */ 


/* hero section start */ 
#hero{
  background: #000000ce url(../img/hero-bg.jpg) center;
  background-blend-mode: multiply;
  background-size: cover;
  height: 90vh;

  .d-grid{
    @include grid(2, 1fr);
    height: 100%;
    align-items: center;

    .hero-title{
      margin-bottom: 20px;
      line-height: 1.1em;
    }
    h4{
      line-height: 1.3em;
      margin-bottom: 20px;
    }
    .hero-btn{
      color: $white;
      background: $kom-red;
      border: 2px solid transparent;
      padding: 15px 35px;
      border-radius: 5px;
    }
    .hero-btn:hover{
      border-color: $white;
      background: transparent;
    }
  }
  
}
/* ! hero section end */ 


/* about section start */ 
#about{
  margin-top: 50px;
  transform: skewY(-1.7deg);

  .container{
    transform: skewY(1.7deg);
  }
  .about-item-1{
    grid-area: about1;

    .button{
      padding: 13px 40px;
      border: 2px solid $red;
      background: transparent;
      color: $white;
      border-radius: 20px;
    }
    .button:hover{
      background: $red;
      border-color: transparent;
    }
  }
  .about-item-2{
    grid-area: about2;
  }
  .about-item-3{
    grid-area: about3;
  }
  .d-grid{
    display: grid;
    grid-template-areas: 
    'about1 about1 about1 about1 about2 about2 about2 about3 about3 about3'
    ;
    column-gap: 50px;
  }
  
}
/* about section end */



/* happy client section start */ 
#happy-client{
  .d-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }
  .icon-box{
    text-align: center;
    box-shadow: 0px 10px 40px #00000033;
    padding: 50px 30px 30px;
    position: relative;

    h4{
      font-family: 'Montserrat', sans-serif;
      @extend .fs-32;
      @extend .fw-7;
      @extend .mb10;
    }
    i{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      box-shadow: 0px 7px 30px #00000033;
      padding: 11px 13px;
      display: inline-block;
      border-radius: 50%;
      font-size: 25px;
  }
}
}
/* happy client section end */ 



/* Tabs section Start */ 
#tabs{
  padding: 50px 0;
  ul.d-grid{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-between;

    [class*='item']{
      padding: 20px 15px;
      border: 1px solid #ccc;
      cursor: pointer;
      display: grid;
      grid-template-columns: 40px auto;
      align-items: center;
      transition: all 400ms;
    }
    [class*='item']:hover{
      border-color: $red;
      color: $red;
    }
    [class*='item'] span{
      @extend .fs-18;
      @extend .fw-7;
      padding-left: 10px;
    }
    [class*='item'] i{
      font-size: 30px;
    }
    [class*='item'].active{
      background: $kom-red;
      color: $white;
      border-color: transparent;
    }
  }

  .tab-content{
    display: none;
    opacity: 0;
    transition: opacity all 800ms;
  }
  .tab-content.show{
    opacity: 1;
    transition: opacity all 800ms;
    display: block;
  }


  .d-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
}
img{
  max-width: 100%;
}

/* Tabs section end */ 




/* services section start */ 
#service{
  transform: skewY(-1.7deg);

  .container{
  transform: skewY(1.7deg);
  }
  .d-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .box{
    padding: 30px 20px;
    background: #2b2b2b6b;
    border-radius: 6px;

    .text{
      h4{
        margin-bottom: 15px;
      }
      h4 a{
        color: $white;
      }
      h4 a:hover{
        color: $white;
        text-decoration: underline !important;
      }
      p{
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
  .box.d-grid{
    display: grid;
    grid-template-columns: 40px auto;
    column-gap: 15px;
    align-items: center;
  }
  .box .bi{
    font-size: 32px;
    color: $red;
  }
  
}
/* services section end */ 




/* portfolio section start */ 
#portfolio{
  .d-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .box{
    position: relative;
    transition: 500ms;
    overflow: hidden;
    .ovarlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 500ms;
      background: #0000008f;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;
      padding: 15px;

      h5{
        font-size: 20px;
        color: #fff;
      }
      h6{
        font-size: 16px;
        color: #fff;
        margin-top: 10px;
      }
      p{
        margin-top: 13px;
      }
      .bx{
        font-size: 25px;
        color: #eee;
      }
      .bx:hover{
        color: #fff;
      }
    }
  }
  .box:hover .ovarlay{
    opacity: 1;
  }
  .box img{
    transition: 500ms;
  }
  .box:hover img{
    transform: scale(1.3) rotate(1.5deg);
  }
  
}
/* portfolio section end */ 




/* testimonials section Start */
#testimonial{
  .d-grid{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
  .box{
    box-shadow: 0px 3px 15px #00000025;
    padding: 30px;
    border-radius: 10px;
    .header{
      display: grid;
      grid-template-columns: 80px 1fr;
      column-gap: 15px;
      align-items: center;
      h4{
        font-size: $fs-20;
        margin-bottom: 7px;
      }
      img{
        border-radius: 10px;
      }
    }
    p{
      position: relative;
      line-height: 1.5em;
      font-size: $fs-18;
    }
    p .bx{
      font-size: 30px;
      color: #ff9999;
    }
  }
  
  
}
/* testimonials section end */



/* Pricing section Start */
#pricing-table{
  transform: skewY(-1.7deg);
  .container{
    transform: skewY(1.7deg);
  }
  .price-box{
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;

    h4:first-child{
      text-transform: uppercase;
      font-size: $fs-20;
      margin-bottom: 20px;
    }
  }
  .price sup,
  .price sub{
    font-size: 16px;
    color: #fff;
    margin: 0 5px;
  }
  .price span{
    font-size: 40px;
    color: #fff;
    font-family: 'Open sans';
    text-transform: uppercase;
  }
  ul{
    text-align: left;
    width: 60%;
    margin: 25px auto;
  }
  ul li{
    margin-bottom: 10px;
    color: $white;
    .bx{
      margin-right: 5px;
      font-size: $fs-18;
    }
    .bxs-check-circle{
      color: #14ac00;
    }
    .bxs-x-circle{
      color: yellow;
    }
  }
  .d-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }
  .a-button{
    background: transparent !important;
    border: 2px solid #bdbdbd;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 40px;
    margin-top: 50px;
    color: $white;
  }
  .a-button:hover{
    color: $white !important;
    border-color: #fff;
  }
}
/* Pricing section end */
