

// header design start
#header{
  background: $dark;
  padding: 20px 0;
  overflow-x: hidden;
}

#header .menu a{
  padding: 10px 13px;
}
#header .menu li:not(.not):before{
  @include before(100%, 0%, 100%, 2px, $red);
  transform: scaleX(0);
  inset: 100 0 0 0;
  transition: transform 400ms;
  transform-origin: top right;
}
#header .menu li.active::before{
  transform: scaleX(1);
}
#header .menu li:hover::before{
  transform: scaleX(1) !important;
  transform-origin: bottom left;
}
.nav-togle.bx{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
#nav-in{
  display: none;
}
#mini-menu{
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 1s, opacity 800ms;
  opacity: 0;
  li{
    
    a{
      padding: 10px 30px;
      transition: 400ms;
    }
  }
  li:hover a{
    color: $red !important;
  }
  li:last-child{
    padding-left: 30px;
  }
  .head-of-menu{
    position: relative;
    width: 100%;
    background: #000000;
    height: 69px;
    margin-bottom: 20px;
     i{
      position: absolute;
      top: 50%;
      right: 40px;
      margin-top: -15px;
      transform: translateY(-50%);
    }
  }
}
#mini-menu.show{
  transform: translateX(0%);
  opacity: 1;
}


// menu responsive
@media screen and (max-width: 992px) {
  #header .menu{
    display: none;
  }
  #nav-in{
    display: block;
  }
}

/* ! header design end */ 


/* hero section start */ 
#hero{
  background: #000000ce url(../img/hero-bg.jpg) center;
  background-blend-mode: multiply;
  background-size: cover;
  height: 90vh;

  .d-grid{
    @include grid(2, 1fr);
    height: 100%;
    align-items: center;

    .hero-title{
      margin-bottom: 20px;
      line-height: 1.1em;
    }
    h4{
      line-height: 1.3em;
      margin-bottom: 20px;
    }
    .hero-btn{
      color: $white;
      background: $kom-red;
      border: 2px solid transparent;
      padding: 15px 35px;
      border-radius: 5px;
    }
    .hero-btn:hover{
      border-color: $white;
      background: transparent;
    }
  }
  
}
/* ! hero section end */ 


/* about section start */ 
#about{
  margin-top: 50px;
  transform: skewY(-1.7deg);

  .container{
    transform: skewY(1.7deg);
  }
  .about-item-1{
    grid-area: about1;

    .button{
      padding: 13px 40px;
      border: 2px solid $red;
      background: transparent;
      color: $white;
      border-radius: 20px;
    }
    .button:hover{
      background: $red;
      border-color: transparent;
    }
  }
  .about-item-2{
    grid-area: about2;
  }
  .about-item-3{
    grid-area: about3;
  }
  .d-grid{
    display: grid;
    grid-template-areas: 
    'about1 about1 about1 about1 about2 about2 about2 about3 about3 about3'
    ;
    column-gap: 50px;
  }
  
}
/* about section end */



/* happy client section start */ 
#happy-client{
  .d-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }
  .icon-box{
    text-align: center;
    box-shadow: 0px 10px 40px #00000033;
    padding: 50px 30px 30px;
    position: relative;

    h4{
      font-family: 'Montserrat', sans-serif;
      @extend .fs-32;
      @extend .fw-7;
      @extend .mb10;
    }
    i{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      box-shadow: 0px 7px 30px #00000033;
      padding: 11px 13px;
      display: inline-block;
      border-radius: 50%;
      font-size: 25px;
  }
}
}
/* happy client section end */ 



/* Tabs section Start */ 
#tabs{
  ul.d-grid{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-between;

    [class*='item']{
      padding: 20px 15px;
      border: 1px solid #ccc;
      cursor: pointer;
      display: grid;
      grid-template-columns: 40px auto;
      align-items: center;
      transition: all 400ms;
    }
    [class*='item']:hover{
      border-color: $red;
      color: $red;
    }
    [class*='item'] span{
      @extend .fs-18;
      @extend .fw-7;
      padding-left: 10px;
    }
    [class*='item'] i{
      font-size: 30px;
    }
    [class*='item'].active{
      background: $kom-red;
      color: $white;
      border-color: transparent;
    }
  }
}
/* Tabs section end */ 


