

@media screen and (max-width: 1200px) {
  #about{
    .d-grid{
    
      grid-template-areas: 
      'about1 about1'
      'about2 about3'
      ;
      grid-gap: 70px 50px;
    }
  }

  #tabs{
    ul.d-grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }

  #testimonial{
    .d-grid{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
}


@media screen and (max-width: 1024px) {
  #tabs{
    
    .tab span{
      font-size: 13px !important;
      display: none !important;
    }
    .tab{
      text-align: center;
      display: block !important;
    }

    .d-grid{
    
      grid-template-columns: repeat(1, 1fr);
      row-gap: 40px;
    }
  }


  #portfolio{
    .d-grid{
      grid-template-columns: repeat(2, 50%) !important;
    }
  }

  #pricing-table{
    .d-grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  #team{
    .d-grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  #contact{
    .d-grid{
      grid-template-areas: 
        'box1 box1'
        'box2 box3'
        'box4 box4'
      ;
    }
  }

  #footer{
    .d-grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }

}


@media screen and (max-width: 991px) {

  #hero {
    .d-grid{
      @include grid(1, 1fr);
    }
  }  
  #happy-client {
    .d-grid{
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px 25px;
    }
  }

  #service{
    .d-grid{
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  #footer{
    .footer-item{
      #subscribe{
        width: 50%;
      }
      input[type='submit']{
        font-size: $fs-13;
        padding-top: 11px;
        padding-bottom: 11px;
      }
    }
  }

  #cta{
    background: #00000044 url(../img/cta.jpg);
    background-size:cover;
    background-blend-mode: multiply;
    transition: 2.3s;
    margin-top: -20px;
  }
  #cta:hover{
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  #hero{
    .d-grid{
      .hero-title{
        font-size: 30px !important;
        br:first-child{
          display: none;
        }
      }
      h4{
        font-size: 18px !important;
      }
    }
  }
  #about{
    .d-grid{
    
      grid-template-areas: 
      'about1'
      'about2''about3'
      ;
      grid-gap: 70px 50px;
    }
  }

  #pricing-table{
    .d-grid{
      @include grid(1, 1fr);
    }
    ul{
      width: 100%;
      text-align: center;
    }
  }

  
  #contact{
    .d-grid{
      grid-template-areas: 
        'box1'
        'box2' 'box3'
        'box4'
      ;
    }
  }

  #happy-client {
    .d-grid{
      grid-template-columns: repeat(1, 1fr);
    }
  }

  #cta{
    .d-grid{
      grid-template-columns: 1fr;
    }
  }
      
  #footer{
    .d-grid{
      grid-template-columns: 1fr;
    }
  }

}

@media screen and (max-width:576px) {
  #cta{
    .d-grid{
      height: 70vh;
    }
  }
}
@media screen and (max-width: 400px) {
  .container{
    width: 100%;
    margin: 0 !important;

    
  }
}