// global variables


// colors variables
$dark : #1B1B1B;
$black: #111111;
$color-h: #444;
$red: #E13E40;
$kom-red: #E35052;
$white: #fff;

// font size variables
    // fs for [font size]
$fs-11 : 11px;
$fs-13 : 13px;
$fs-14 : 14px;
$fs-15 : 15px;
$fs-16 : 16px;
$fs-18 : 18px;
$fs-20 : 20px;
$fs-24 : 24px;
$fs-26 : 26px;
$fs-32 : 32px;
$fs-34 : 34px;
$fs-36 : 36px;
$fs-48 : 48px;


// font weight variables
$fw-n: 400; // Normal weight
$fw-m: 500; //Something more than normal
$fw-mb: 600; // Semi-bold
$fw-b: 700;   // Normal bold
$fw-xb: 900;  //Extra bold
// 